<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
    <link rel="stylesheet" href="css/style.css" />
    <title>Generate Prompts</title>
    <script src="js/app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Prompt Generator</h1>
    </header>
    <main>
      <div class="wrapper">
        <textarea placeholder="Plak excel bestand hier"></textarea>
        <button id="submit-prompts">Generate</button>
        <div class="zipfile">
          <a id="zipfile-link" href="">Download ZIP file</a>
        </div>
      </div>
    </main>
  </body>
</html>
