* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-image: linear-gradient(120deg, #4d5237, #ff3d00);
  color: white;
  min-height: 100vh;
}

header {
  font-size: 1.5rem;
}

header,
main {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
textarea {
  min-height: 300px;
  resize: none;
  font-size: 1rem;
  color: #ff3d00;
}

textarea,
button {
  padding: 0.5rem;
  border: none;
  background: #f3f3f3;
  width: 100%;
}

button {
  font-size: 2rem;
}

button {
  color: #ff3d00;
  background: #f3f3f3;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background: #4d5237;
  color: white;
}

.text-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-list {
  min-width: 30%;
  list-style: none;
}

.text {
  margin: 0.5rem;
  background: white;
  color: black;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text li {
  flex: 1;
}

.delete-btn {
  background: #c20303;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.text-item {
  padding: 0rem 0.5rem;
}

.fa-trash {
  pointer-events: none;
}

.submit-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

.submit-btn {
  padding: 1rem;
  background: #ff3d00;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}
